:root {
  /* Colors */
  --nude: #ffdeeb;
  --nude-dark: #fcc2d7;
  --hair-brown: #3d2314;
  --eye-brown: #785239;
  --body: #fcc419;
  --body-darker: #f59f00;
  --body-darkest: #e67700;
  --gray: #111;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 60%;
}

button {
  position: absolute;
  font-size: 3rem;
  color: #333;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.4rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 100;
}

.steliyan {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to left, #bac8ff, #91a7ff);
  height: 100vh;
  width: 100vw;
}

/* 1. HEAD */
.head {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 13rem;
  width: 9rem;
  background-color: var(--nude);
  border-radius: 40% 40% 50% 50%;

  margin-bottom: 20rem;

  z-index: 10;
}

.popup {
  display: none;
  position: absolute;
  max-width: 15rem;
  height: 3rem;
  overflow: hidden;
  bottom: 100%;
  left: 100%;
  white-space: pre;

  background-color: #4263eb;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 1rem 0;

  z-index: 30;

  animation: popup-stretch 4s ;
  animation-timing-function: linear;
}

/* 1.1 EYES */

.eyes,
.brows {
  position: absolute;

  display: flex;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 3rem;
}

.brows {
  margin-bottom: 3.2rem;
}

.brow {
  width: 2.5rem;
  height: 1.2rem;
  border-top: 0.4rem solid var(--hair-brown);
  border-radius: 40% 20% 0% 0%;
}

.brow:last-child {
  border-radius: 20% 40% 0% 0%;
}

.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 2rem;
  height: 1.1rem;
  background-color: #fff;
  border-top: 0.2rem solid var(--nude-dark);
  border-bottom: 0.1rem solid var(--nude-dark);
  border-radius: 60% 60% 50% 50%;

  animation: blink 5s infinite ;

  margin-top: 1rem;
}

.pupil {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.1rem;
  height: 1rem;
  background: conic-gradient(
    var(--eye-brown) 270deg,
    #bbb 320deg,
    var(--eye-brown) 360deg
  );
  border-radius: 100%;

}

.pupil::after {
  content: "";
  width: 0.45rem;
  height: 0.45rem;
  background-color: var(--gray);
  border-radius: 100%;

  margin-left: 0.3rem;
}

/* eye bright */
.pupil::before {
  content: '';
  position: absolute;
  width: 0.17rem;
  height: 0.17rem;
  background-color: #fff;
  border-radius: 30%;

  margin-right: 0.1rem;
  margin-bottom: 0.2rem;

  animation: blink-eye-bright 5s infinite ;

}

/* 1.2 NOSE */

.nose {
  width: 0.3rem;
  height: 3rem;
  background-color: var(--nude-dark);
  border-radius: 25%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -40%);
}

/* nostrils */

.nose::before,
.nose::after {
  content: "";

  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: var(--nude);
  bottom: 0;
  border-radius: 100%;
  border-top: 0.2rem solid var(--nude-dark);

  transform: translate(20%, 40%);
}

.nose::after {
  transform: translate(-80%, 40%);
}

/* 1.3 EARS */

.ears {
  position: absolute;
}

.ear {
  height: 3rem;
  width: 1rem;
  background-color: var(--nude);
  border: 0.2px solid var(--nude-dark);

  border-radius: 0.3rem 0.7rem 40% 50%;

  transform: translate(-4.6rem, 1.2rem) rotateY(50deg);
}
.ear:first-child {
  border-right: none;
}

.ear:last-child {
  border-radius: 0.7rem 0.3rem 50% 40%;

  border-left: none;

  transform: translate(4.6rem, -1.6rem) rotateY(50deg);
}

/* 1.4 MOUTH */
/* height/ width breakpoints  */
/* height 0.7 - closed */
/* width from 3rem to 4 rem */
/* height from 0.7 to 2.5 */
.mouth {
  width: 4rem;
  height: 2rem;
  background-color: var(--gray);

  border-radius: 100% 100% 10rem 10rem;
  border-bottom: 0.6rem solid var(--nude-dark);
  border-top: 0.2rem solid var(--nude-dark);

  margin-top: 7rem;
  overflow: hidden;
}

.teeth {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
}
.tooth {
  width: 1rem;
  height: 0.5rem;
  background-color: #fff;

  border-bottom-right-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
}

.tooth:nth-child(3),
.tooth:nth-child(4) {
  height: 0.6rem;
  width: 1.5rem;

  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
/* 1.5 HAIR */

.hair {
  position: absolute;
  width: 8.7rem;
  height: 10rem;
  border-top: 2em solid var(--hair-brown);
  border-radius: 100% 100% 0 0;

  margin-bottom: 5rem;
}

.hair::after {
  position: absolute;
  content: "";
  height: 2rem;
  width: 5.2rem;
  background-color: var(--hair-brown);

  border-radius: 100% 10% 20% 0%;
  transform: rotateZ(-7deg) translateY(-50%);

  margin-left: 1.5rem;
}

/* 1.6 CHIN */
.head::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 1.5rem;
  background-color: var(--nude);
  border-top: 0.2rem solid var(--nude-dark);

  border-radius: 1rem;

  margin-top: 11.5rem;
}

/* 2.BODY */

.body {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 15rem;
  width: 10rem;
  background-color: var(--body);
  border-radius: 25% 25% 1rem 1rem;

  margin-top: 6rem;

  z-index: 9;
}

/* 2.1 NECK */

.neck {
  height: 3.1rem;
  width: 4rem;
  background-color: var(--nude-dark);
  border-radius: 0 0 50% 50%;

  margin-bottom: 14rem;
}

/* 1.2 ARMS */

.arms {
  position: absolute;

  display: flex;
  gap: 7rem;

  margin-bottom: 5rem;
}

.arm {
  width: 4rem;
  height: 10rem;
  background-color: var(--body);
  border-left: 0.3rem solid var(--body-darker);

  border-bottom: 1rem solid var(--body-darkest);
  border-radius: 2rem;

  transform-origin: 50% 20%;
  transform: rotateZ(15deg);

}

.arm:last-child {
  transform: rotateZ(-15deg);
  border-left: none;
  border-right: 0.3rem solid var(--body-darker);
}


/* 1.2.1 FOREARMS */

.forearm {
  width: 2.5rem;
  height: 8rem;
  background-color: var(--nude);
  border-radius: 1.5rem;
  border-top: 0.7rem solid var(--body-darker);

  margin-top: 8rem;
  margin-left: 0.7rem;

  transform-origin: 50% 0;
  transform: rotateZ(10deg);
}

.left-forearm {
  transform: rotateZ(-10deg);
}

/* 1.2.2 HANDS */

.hand {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: var(--nude);
  border-radius: 1rem 1rem 100% 100%;

  top: 90%;
  left: -8%;
}

.thumb {
  position: relative;
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--nude-dark);

  left: 0%;
  transform: translate(-50%, 0);
}

.left-thumb {
  left: 100%;
}

/* 3. LEGS */

.legs {
  position: absolute;
  margin-top: 35rem;
  display: flex;
  gap: 0.104rem;
}

.leg {
  display: flex;
  justify-content: center;
  width: 3.7rem;
  height: 17rem;
  background-color: #364fc7;
  border-radius: 0 0 35% 35%;
}

.foot {
  position: absolute;
  width: 4rem;
  height: 2rem;
  top: 90%;
  background-color: #fff;

  border: 1rem solid black;
  border-bottom: 0.2rem solid black;
  border-radius: 1rem 1rem 0 0;
}

/* Responsive */

@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

/* Animations */

@keyframes blink {
  48%, 52% {
    height: 1.1rem;
  }

  50% {
    height: 0.2rem;
  }

}

@keyframes blink-eye-bright {
  48%, 52% {
    height: 0.17rem;
  }

  49%, 51% {
    height: 0;
  }

}

@keyframes wave-left {
  0%, 100% {
    transform: rotateZ(-15deg);
  }

  40%, 60%, 80% {
    transform: rotateZ(-160deg);
  }

  50%, 70% {
    transform: rotateZ(-140deg);
  }
}

@keyframes wave-right {
  0%, 100% {
    transform: rotateZ(15deg);
  }

  40%, 60%, 80% {
    transform: rotateZ(160deg);
  }

  50%, 70% {
    transform: rotateZ(140deg);
  }
}

/* height/ width breakpoints  */
/* height 0.7 - closed */
/* width from 3rem to 4 rem */
/* height from 0.7 to 2.5 */
@keyframes talk {
  0%, 100% {
    height: 1.7rem;
    width: 3.5rem;
  }

  5%, 20%, 40%, 55%, 70%, 85% {
    height: 2rem;
  }

  15%, 25%, 50%,60%, 80%, 95% {
    height: 0.7rem;
  }

  20% ,50%, 65%, 80% {
    width: 3rem;
  }
  10%,30%,45%,60%,75% {
    width: 4rem;
  }
}

@keyframes popup-stretch {
  0% {
    width: 0;
    height: 0;
  }

  15% {
    height: 3rem;
  }

  100% {
    width:  15rem;
  }

}

/* animation classes */

.wave-right {
  animation: wave-right 2s 1 ease-in-out;
}

.wave-left {
  animation: wave-left 2s 1 ease-in-out;
}

.talk {
  animation: talk 4s 1 ease-in-out;
}