:root {
  /* Colors */
  --nude: #ffdeeb;
  --nude-dark: #fcc2d7;
  --hair-brown: #3d2314;
  --eye-brown: #785239;
  --gray: #111;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 60%;
}

.steliyan {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to left, #bac8ff, #91a7ff);
  height: 100vh;
  width: 100vw;
}

/* 1. HEAD */
.head {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 13rem;
  width: 9rem;
  background-color: var(--nude);
  border-radius: 40% 40% 50% 50%;

  margin-bottom: 20rem;

  z-index: 10;
}

/* 1.1 EYES */

.eyes,
.brows {
  position: absolute;

  display: flex;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 3rem;
}

.brows {
  margin-bottom: 3.2rem;
}

.brow {
  width: 2.5rem;
  height: 1.2rem;
  border-top: 0.4rem solid var(--hair-brown);
  border-radius: 40% 20% 0% 0%;
}

.brow:last-child {
  border-radius: 20% 40% 0% 0%;
}

.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 2rem;
  height: 1.1rem;
  background-color: #fff;
  border-top: 0.2rem solid var(--nude-dark);
  border-bottom: 0.1rem solid var(--nude-dark);

  border-radius: 60% 60% 50% 50%;

  margin-top: 1rem;
}

.pupil {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.1rem;
  height: 1rem;
  background: conic-gradient(
    var(--eye-brown) 270deg,
    #bbb 320deg,
    var(--eye-brown) 360deg
  );
  border-radius: 100%;

  margin-left: 0.3rem;
  margin-bottom: 0.1rem;
}

.pupil::after {
  content: "";
  width: 0.45rem;
  height: 0.45rem;
  background-color: var(--gray);
  border-radius: 100%;

  margin-left: 0.3rem;
}

/* eye bright */
.pupil::before {
  position: absolute;
  content: "";
  width: 0.17rem;
  height: 0.17rem;
  background-color: #fff;
  border-radius: 30%;

  margin-right: 0.1rem;
  margin-bottom: 0.2rem;
}

/* 1.2 NOSE */

.nose {
  width: 0.3rem;
  height: 3rem;
  background-color: var(--nude-dark);
  border-radius: 25%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -40%);
}

/* nostrils */

.nose::before,
.nose::after {
  content: "";

  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: var(--nude);
  bottom: 0;
  border-radius: 100%;
  border-top: 0.2rem solid var(--nude-dark);

  transform: translate(20%, 40%);
}

.nose::after {
  transform: translate(-80%, 40%);
}

/* 1.3 EARS */

.ears {
  position: absolute;
}

.ear {
  height: 3rem;
  width: 1rem;
  background-color: var(--nude);
  border: 0.2px solid var(--nude-dark);

  border-radius: 0.3rem 0.7rem 40% 50%;

  transform: translate(-4.6rem, 1.2rem) rotateY(50deg);
}
.ear:first-child {
  border-right: none;
}

.ear:last-child {
  border-radius: 0.7rem 0.3rem 50% 40%;

  border-left: none;

  transform: translate(4.6rem, -1.6rem) rotateY(50deg);
}

/* 1.4 MOUTH */
/* height/ width breakpoints  */
/* height 0.7 - closed */
/* width from 3rem to 4 rem */
/* height from 0.7 to 2.5 */
.mouth {
  width: 4rem;
  height: 1.2rem;
  background-color: var(--gray);

  border-radius: 100% 100% 10rem 10rem;
  border-bottom: 0.6rem solid var(--nude-dark);
  border-top: 0.2rem solid var(--nude-dark);

  margin-top: 7rem;
  overflow: hidden;
}

.teeth {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
}
.tooth {
  width: 1rem;
  height: 0.5rem;
  background-color: #fff;

  border-bottom-right-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
}

.tooth:nth-child(3),
.tooth:nth-child(4) {
  height: 0.6rem;
  width: 1.5rem;

  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
/* Accent */
.tooth:nth-child(2) {
  height: 0.45rem;
}

.tooth:nth-child(4) {
  border-radius: 0.05rem;
  height: 0.56rem;
}

/* 1.5 HAIR */

.hair {
  position: absolute;
  width: 8.7rem;
  height: 10rem;
  border-top: 2em solid var(--hair-brown);
  border-radius: 100% 100% 0 0;

  margin-bottom: 5rem;
}

.hair::after {
  position: absolute;
  content: "";
  height: 2rem;
  width: 5.2rem;
  background-color: var(--hair-brown);

  border-radius: 100% 10% 20% 0%;
  transform: rotateZ(-7deg) translateY(-50%);

  margin-left: 1.5rem;
}

/* 1.6 CHIN */
.head::after {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 1.5rem;
  background-color: var(--nude);
  border-top: 0.2rem solid var(--nude-dark);

  border-radius: 1rem;

  margin-top: 11.5rem;

}

/* 1.7 NECK */

/* TODO BACKUP */

/* .head::before {
  content: '';
  position: absolute;
  width: 7rem;
  height: 5rem;
  background-color: red;

  margin-top: 14rem;

  border-left: 1rem solid #000;
  border-right: 1rem solid #000;
} */

/* 2.BODY */

.body {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 20rem;
  width: 11rem;
  background-color: rebeccapurple;
  border-radius: 25%  ;

  margin-top: 10rem;

  z-index: 9;
}


/* 2.1 NECK */

.neck {
  height: 3.1rem;
  width: 3rem;
  background-color: var(--nude-dark);
  border-radius: 0 0 50% 50%;

  margin-bottom: 17rem;
}

.neck::before {
  position: absolute;
  content: '';
  height: 2.7rem;
  width: 1rem;
  background-color: var(--nude-dark);

  margin-left: -0.2rem;

  transform: rotateZ(-30deg);

}

.neck::after {
  position: absolute;
  content: '';
  height: 2.7rem;
  width: 1rem;
  background-color: var(--nude-dark);

  margin-left: 2.2rem;

  transform: rotateZ(30deg);

}

/* 1.2 HANDS */

.arms {
  position: absolute;

  display: flex;
  gap: 7rem;

  margin-bottom: 10rem;
}

.arm {
  width: 4rem;
  height: 10rem;
  background-color: rgb(125, 57, 193);

  border-radius: 2rem;

  transform-origin: 50% 20%;
  transform: rotateZ(15deg);

}

.arm:last-of-type {
  transform: rotateZ(-15deg);
}

.forearm {
  width: 2.5rem;
  height: 8rem;
  background-color: var(--nude);
  border-radius: 1.5rem;

  margin-top: 8rem;
  margin-left: 0.7rem;

  transform-origin: 50% 0;
  transform: rotateZ(10deg);
}

.left-forearm {
  transform: rotateZ(-10deg);
}